<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/list.css" />
    <title>PULL UP Exams</title>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>
<div class="position-relative">
    <div class="container-md">
        <table class="table">
            <thead class="sticky-top top-0">
            <tr>
                <th scope="col" class="text-center align-middle">ID</th>
                <th scope="col" class="text-center align-middle">시험종류</th>
                <th scope="col" class="text-center align-middle">사용자명</th>
                <th scope="col" class="text-center align-middle">문제수</th>
                <th scope="col" class="text-center align-middle">푼문제수</th>
                <th scope="col" class="text-center align-middle">완료여부</th>
                <th scope="col" class="text-center align-middle">정답수</th>
                <th scope="col" class="text-center align-middle">오답수</th>
                <th scope="col" class="text-center align-middle">점수</th>
                <th scope="col" class="text-center align-middle">시험지명</th>
                <th scope="col" class="text-center align-middle">시작시간</th>
                <th scope="col" class="text-center align-middle">종료시간</th>
                <th scope="col" class="text-center align-middle">소요시간</th>
                <th scope="col" class="text-center align-middle">삭제하기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="examInfo : ${examInfos}">
                <td class="text-center" th:text="${examInfo.getId()}">1</td>
                <td class="text-center" th:text="${examInfo.getExamType()}">모의고사</td>
                <td class="text-center" th:text="${examInfo.getUserName()}">남상엽</td>
                <td class="text-center" th:text="${examInfo.getTotalProblemCount()}">20</td>
                <td class="text-center" th:text="${examInfo.getSolvedProblemCount()}">20</td>
                <td class="text-center" th:text="${examInfo.getIsFinished()? 'O' : 'X'}">False</td>
                <td class="text-center" th:text="${examInfo.getCorrectProblemCount()}">10</td>
                <td class="text-center" th:text="${examInfo.getIncorrectProblemCount()}">10</td>
                <td class="text-center" th:text="${examInfo.getScore()}">50</td>
                <td class="text-center" th:text="${examInfo.getExamsheetName()}">모의고사</td>
                <td class="text-center" th:text="${examInfo.getStartTime()}">12월 6일 14시 08분</td>
                <td class="text-center" th:text="${examInfo.getEndTime()}">12월 6일 14시 28분</td>
                <td class="text-center" th:text="${examInfo.getDuration()}">20:00</td>
                <td class="text-center align-middle m-auto">
                    <form th:id="${'delete-' + examInfo.getId()}" th:method="delete" th:action="@{/admin/exams/{examId}(examId=${examInfo.getId()})}" onclick="confirm('삭제하시겠습니까?')">
                    <button class="btn btn-outline-danger" style="padding: 0 5px" type="submit" th:form="${'delete-' + examInfo.getId()}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg>
                    </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" th:if="${pagination}">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{${baseURI}(size=${examInfos.size}, page=${examInfos.number - 1})}">Previous</a></li>
                    <th:block th:each="idx : ${pagination}">
                        <li class="page-item">
                            <a class="page-link" th:classappend="${examInfos.number + 1 == idx}? 'active'"
                               th:href="@{${baseURI}(size=${examInfos.size}, page=${idx - 1})}" th:text="${idx}">1</a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{${baseURI}(size=${examInfos.size}, page=${examInfos.number + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>