<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/list.css" />
    <title>Change Problem</title>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>
<div class="position-relative">
    <div class="container-md">
        <form id="change-problem-form"
              th:method="PATCH"
              th:action="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId=${examsheetId}, problemNumber=${problemNumber})}"
              onsubmit="return confirm('해당 문제로 변경합니까?');">
        <table class="table">
            <thead class="sticky-top top-0 table-warning">
            <tr>
                <th scope="col" class="text-center" colspan="8">
                    <div class="row m-auto">
                        <div class="col m-auto d-flex justify-content-center align-items-center">
                            <div class="input-group" style="max-width: 350px">
                                <span class="input-group-text">문제번호</span>
                                <span class="input-group-text" th:text="${problemNumber}">문제번호</span>
                                <span class="input-group-text">현재 문제 ID</span>
                                <input class="form-control" style="max-width: 4rem" th:value="${selectedId}" disabled />
                                <button class="btn btn-warning" type="submit" form="change-problem-form" >변경하기</button>
                            </div>
                            <span class="form-text text-start align-middle" style="min-width: 12rem">&nbsp;* 변경할 문제를 선택하세요.</span>
                        </div>
                        <div class="col m-auto">
                            <form id="search-form"
                                  method="get"
                                  th:action="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber})}">
                                <div class="input-group">
                                    <input type="hidden" name="selectedId" th:value="${selectedId}" />
                                    <select class="form-select" id="search-col" name="searchType">
                                        <option th:selected="${searchType} == 'NONE'" value="NONE">검색 옵션을 선택하세요.</option>
                                        <option th:selected="${searchType} == 'PROBLEM_TYPE'" value="PROBLEM_TYPE">유형</option>
                                        <option th:selected="${searchType} == 'QUESTION'" value="QUESTION">문제</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="검색어를 입력하세요." aria-label="search-keyword" name="keyword" th:value="${keyword}">
                                    <button form="search-form" class="btn btn-outline-warning" type="submit" id="search-button">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="col" class="text-center align-middle">선택</th>
                <th scope="col">
                    <div class="d-flex justify-content-center gap-2">
                        <span class="align-self-center">ID</span>
                        <div class="d-flex flex-column">
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='ID', sortOrder='ASC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='ID', sortOrder='DESC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex justify-content-center gap-2">
                        <span class="align-self-center">영역</span>
                        <div class="d-flex flex-column">
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId=${selectedId}, sortType='ENTRY', sortOrder='ASC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId=${selectedId}, sortType='ENTRY', sortOrder='DESC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div  class="d-flex justify-content-center gap-2">
                        <span class="align-self-center">유형</span>
                        <div class="d-flex flex-column">
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='PROBLEM_TYPE', sortOrder='ASC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='PROBLEM_TYPE', sortOrder='DESC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div  class="d-flex justify-content-center gap-2">
                        <span class="align-self-center">생성일</span>
                        <div class="d-flex flex-column">
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='CREATED_DATE', sortOrder='ASC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='CREATED_DATE', sortOrder='DESC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </th>
                <th scope="col" class="text-center align-middle">문제</th>
                <th scope="col">
                    <div class="d-flex justify-content-center gap-2">
                        <span class="align-self-center">시도</span>
                        <div class="d-flex flex-column">
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='ATTEMPT', sortOrder='ASC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='ATTEMPT', sortOrder='DESC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex justify-content-center gap-2">
                        <span class="align-self-center">정답률</span>
                        <div class="d-flex flex-column">
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='CORRECT_RATE', sortOrder='ASC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>
                            <a th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetId}, problemNumber = ${problemNumber}, selectedId= ${selectedId}, sortType='CORRECT_RATE', sortOrder='DESC')}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="problemInfo : ${problemInfos}">
                <td class="text-center">
                    <input class="form-check-input" type="radio" name="newSelectedId" id="selected-problem" required
                           th:value="${problemInfo.getId()}"
                           th:checked="${problemInfo.getId() == selectedId}">
                </td>
                <td class="text-center" th:text="${problemInfo.getId()}">1</td>
                <td class="text-center" th:text="${problemInfo.getEntry()}">수리</td>
                <td class="text-center" th:text="${problemInfo.getProblemType()}">속력</td>
                <td class="text-center" th:text="${problemInfo.getCreatedDate()}">생성일</td>
                <td th:text="${problemInfo.getQuestion()}">문제</td>
                <td class="text-center" th:text="${problemInfo.getTotalAttempts()}">2</td>
                <td class="text-center" th:text="${problemInfo.getCorrectRate()}">70%</td>
            </tr>
            </tbody>
        </table>
        </form>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" th:if="${pagination}">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{${baseURI}(size=${problemInfos.size}, page=${problemInfos.number - 1})}">Previous</a></li>
                    <th:block th:each="idx : ${pagination}">
                        <li class="page-item">
                            <a class="page-link" th:classappend="${problemInfos.number + 1 == idx}? 'active'"
                               th:href="@{${baseURI}(size=${problemInfos.size}, page=${idx - 1})}" th:text="${idx}">1</a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{${baseURI}(size=${problemInfos.size}, page=${problemInfos.number + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>