<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <title>Examsheet Detail</title>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>

<div class="container">
    <form th:action="@{/admin/examsheets/{examsheetId}(examsheetId=${examsheetInfo.id()})}" th:method="patch" onsubmit="return confirm('수정하시겠습니까?');">
        <div class="input-group mb-3">
            <span class="input-group-text" id="problem-id">시험지 ID</span>
            <input type="text" class="form-control" style="max-width: 3rem;" th:attr="value=${examsheetInfo.id()}" aria-label="problem-id" disabled>
            <span class="input-group-text" id="created-date">생성일</span>
            <input type="text" class="form-control" th:value="${examsheetInfo.createdDate()}" aria-label="created-date" disabled>
            <span class="input-group-text" id="updated-date">수정일</span>
            <input type="text" class="form-control" th:value="${examsheetInfo.updatedDate()}" aria-label="updated-date" disabled>
            <span class="input-group-text" id="exam-title" >시험명</span>
            <input type="text" class="form-control" th:value="${examsheetInfo.examTitle()}" aria-label="exam-title" name="examTitle" required>
            <span class="input-group-text" id="exam-count">시험 횟수</span>
            <input type="text" class="form-control" style="max-width: 3rem" th:value="${examsheetInfo.examCount()}" aria-label="exam-count" disabled>
            <span class="input-group-text" id="average-score" >평균 점수</span>
            <input type="text" class="form-control text-end" style="max-width: 5rem" th:value="${examsheetInfo.averageScore()}" aria-label="average-score" disabled>
            <span class="input-group-text" id="average-duration" >평균 시간</span>
            <input type="text" class="form-control text-center" style="max-width: 5rem" th:value="${examsheetInfo.averageDuration()}" aria-label="average-duration" disabled>
            <button class="btn btn-warning" type="submit">시험정보 변경</button>
            <button class="btn btn-danger" form="delete-form" type="submit">시험 삭제</button>
        </div>
    </form>

    <table class="table">
        <thead class="sticky-top top-0">
        <tr>
            <th scope="col" class="text-center align-middle table-warning">문제</th>
            <th scope="col" class="text-center align-middle">ID</th>
            <th scope="col" class="text-center align-middle">영역</th>
            <th scope="col" class="text-center align-middle">유형</th>
            <th scope="col" class="text-center align-middle">문제</th>
            <th scope="col" class="text-center align-middle">문제 변경</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="problemInfo : ${examsheetInfo.problemInfos()}">
            <th class="text-center table-warning" th:text="${problemInfo.problemNumber()}">1</th>
            <td class="text-center" th:text="${problemInfo.problemId()}">1</td>
            <td class="text-center" th:text="${problemInfo.entry()}">수리</td>
            <td class="text-center" th:text="${problemInfo.problemType()}">속력</td>
            <td th:text="${problemInfo.question()}">문제</td>
            <td class="text-center align-middle m-auto">
                <a href="#" th:href="@{/admin/examsheets/{examsheetId}/select-problem/{problemNumber}(examsheetId = ${examsheetInfo.id()}, problemNumber = ${problemInfo.problemNumber()}, selectedId = ${problemInfo.problemId()})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <form id="delete-form" th:action="@{/admin/examsheets/{examsheetId}(examsheetId=${examsheetInfo.id()})}" th:method="delete" onsubmit="return confirm('삭제하시겠습니까?');"></form>
</div>

</body>
</html>