<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/list.css" />
    <title>PULL UP Examsheets</title>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>
<div class="position-relative">
    <div class="container-md">
        <table class="table">
            <thead class="sticky-top top-0">
            <tr>
                <th scope="col" class="text-center" colspan="9">
                    <a href="/admin/examsheets/new">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                        </svg>
                    </a>
                </th>
            </tr>
            <tr>
                <th scope="col" class="text-center align-middle">ID</th>
                <th scope="col" class="text-center align-middle">생성일</th>
                <th scope="col" class="text-center align-middle">수정일</th>
                <th scope="col" class="text-center align-middle">시험 제목</th>
                <th scope="col" class="text-center align-middle">문제 수</th>
                <th scope="col" class="text-center align-middle">응시 수</th>
                <th scope="col" class="text-center align-middle">평균 점수</th>
                <th scope="col" class="text-center align-middle">평균 소요시간</th>
                <th scope="col" class="text-center align-middle">수정하기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="examsheetDetailInfo : ${examsheetInfos}">
                <td class="text-center" th:text="${examsheetDetailInfo.getId()}">1</td>
                <td class="text-center" th:text="${examsheetDetailInfo.getCreatedDate()}">11월 30일</td>
                <td class="text-center" th:text="${examsheetDetailInfo.getUpdatedDate()}">11월 30일</td>
                <td class="text-center" th:text="${examsheetDetailInfo.getExamTitle()}">모의고사</td>
                <td class="text-center" th:text="${examsheetDetailInfo.getProblemCount()}">20</td>
                <td class="text-center" th:text="${examsheetDetailInfo.getExamCount()}">1</td>
                <td class="text-center" th:text="${examsheetDetailInfo.getAverageScore()}">70</td>
                <td class="text-center" th:text="${examsheetDetailInfo.getAverageDuration()}">11:20</td>
                <td class="text-center align-middle m-auto">
                    <a href="#" th:href="@{/admin/examsheets/{problemId}(problemId=${examsheetDetailInfo.getId()})}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" th:if="${pagination}">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{${baseURI}(size=${problemInfos.size}, page=${problemInfos.number - 1})}">Previous</a></li>
                    <th:block th:each="idx : ${pagination}">
                        <li class="page-item">
                            <a class="page-link" th:classappend="${problemInfos.number + 1 == idx}? 'active'"
                               th:href="@{${baseURI}(size=${problemInfos.size}, page=${idx - 1})}" th:text="${idx}">1</a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{${baseURI}(size=${problemInfos.size}, page=${problemInfos.number + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>