<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <title>Problem Create</title>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>

<div class="container-md">
    <form th:action="@{/admin/problems}" method="post">
        <div class="input-group has-validation mb-3">
            <span class="input-group-text" id="problem-id">문제 ID</span>
            <input type="text" class="form-control" disabled>
            <span class="input-group-text" id="entry">항목</span>
            <select class="form-select" aria-label="entry-select" id="entrySelect" name="entry">
                <option th:each="entry : ${entry}" th:value="${entry}" th:text="${entry.getKorean()}"></option>
            </select>
            <span class="input-group-text" id="problem-type">문제 유형</span>
            <input type="text" class="form-control" aria-label="problem-type" name="problemType" required>
            <span class="input-group-text" id="total-attempts">제출 횟수</span>
            <input type="text" class="form-control" aria-label="total-attempts" disabled>
            <span class="input-group-text" id="correct-rate">정답률</span>
            <input type="text" class="form-control text-end" aria-label="correct-rate" disabled>
            <span class="input-group-text">%</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">질문</span>
            <textarea class="form-control" aria-label="question" rows="3" name="question" required></textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">보기</span>
            <textarea class="form-control" aria-label="example" rows="5" name="example"></textarea>
        </div>
        <div th:each="choice : ${choices}">
            <div class="input-group mb-3">
                <span class="input-group-text" th:text="${choice}"></span>
                <input type="text" class="form-control" aria-label="choice" th:name="${'choice' + choice}" required>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">정답</span>
            <input type="text" class="form-control" aria-label="choice" th:name="correctAnswer" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" th:name="explanation">해설</span>
            <textarea class="form-control" rows="3" aria-label="explanation" name="explanation" required></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-3">생성하기</button>
        </div>
    </form>
</div>

</body>
</html>