<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <title>Problem Detail</title>
</head>
<body>
<div th:insert="~{nav :: nav}"></div>

<div class="container">
    <form th:action="@{/admin/lists/{problemId}(problemId=${problemInfo.id()})}" th:method="patch" onsubmit="return confirm('수정하시겠습니까?');">
        <div class="input-group mb-3">
            <span class="input-group-text" id="problem-id">문제 ID</span>
            <input type="text" class="form-control" th:attr="value=${problemInfo.id()}" disabled>
            <span class="input-group-text" id="entry">항목</span>
            <select class="form-select" aria-label="entry-select" name="entry" required>
                <option th:each="entry : ${entry}" th:value="${entry}" th:text="${entry.getKorean()}" th:selected="${entry}==${problemInfo.entry()}"></option>
            </select>
            <span class="input-group-text" id="problem-type" >문제 유형</span>
            <input type="text" class="form-control" th:value="${problemInfo.problemType()}" aria-label="problem-type" name="problemType" required>
            <span class="input-group-text" id="total-attempts">제출 횟수</span>
            <input type="text" class="form-control" th:value="${problemInfo.totalAttempts()}" aria-label="total-attempts" disabled>
            <span class="input-group-text" id="correct-rate" >정답률</span>
            <input type="text" class="form-control text-end" th:value="${problemInfo.correctRate()}" aria-label="correct-rate" disabled>
            <span class="input-group-text">%</span>
            <span class="input-group-text" id="created-time">생성일</span>
            <input type="text" class="form-control" th:value="${problemInfo.createdTime()}" aria-label="total-attempts" disabled>
            <span class="input-group-text" id="updated-time">수정일</span>
            <input type="text" class="form-control" th:value="${problemInfo.updatedTime()}" aria-label="total-attempts" disabled>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">질문</span>
            <textarea class="form-control" aria-label="question" rows="3" th:text="${problemInfo.question()}" name="question" required></textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">보기</span>
            <textarea class="form-control" aria-label="example" rows="5" th:text="${problemInfo.example()}" name="example">></textarea>
        </div>
        <div th:each="choice : ${problemInfo.choices()}">
            <div class="input-group mb-3">
                <span class="input-group-text" th:text="${choiceStat.index + 1}"></span>
                <input type="text" class="form-control" aria-label="choice" th:value="${choice}" th:name="${'choice' + (choiceStat.index + 1)}" required>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">정답</span>
            <input type="text" class="form-control" aria-label="choice" th:value="${problemInfo.correctAnswer()}" th:name="correctAnswer" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" th:name="explanation">해설</span>
            <textarea class="form-control" rows="3" aria-label="explanation" name="explanation" th:text="${problemInfo.explanation()}" required></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" onclick="window.location.href='/admin/lists'" class="btn btn-success m-3">목록으로</button>
            <button type="submit" class="btn btn-primary m-3">수정하기</button>
            <button type="submit" form="delete-form" class="btn btn-danger m-3">삭제하기</button>
        </div>
    </form>
    <form id="delete-form" th:action="@{/admin/lists/{problemId}(problemId=${problemInfo.id()})}" th:method="delete" onsubmit="return confirm('삭제하시겠습니까?');"></form>
</div>

</body>
</html>