<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PULL UP Admin Main</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="index-container">
      <button onclick="location.href='/admin/problems'" type="button" class="index-button btn btn-outline-primary">문제 관리</button>
      <button onclick="location.href='/admin/examsheets'" type="button" class="index-button btn btn-outline-warning">시험지 관리</button>
      <button onclick="location.href='/admin/exams'" type="button" class="index-button btn btn-outline-danger">시험 관리</button>
      <button onclick="javascript: alert('준비중입니다.')" type="button" class="index-button btn btn-outline-success">사용자 관리</button>
    </div>
    <script type="text/javascript">
    </script>
  </body>
</html>
